.page {
	width: 1000px;
	margin: 0 auto;
	font-family: arial;
	font-style: bold;
}

header {
	margin-top: 50px;
	font-family: arial;
	font-size: 48px;
	border-bottom-color: black;
	border-bottom-width: 5px;
	border-bottom-style: solid;
}

.container {
	width: 600px;
	margin: 0 auto;
	text-align: center;
}

IMG.social {
	height: 50px;
	width: 50px;
}

.connect {
	float: left;
	position: fixed;
	top: 0;
}

.left {
	margin: 50px;
	float: left;
}

.right {
	margin: 50px;
	float: right;
}

a {
	text-decoration: none;
}

.citycontainer {
	width: 1000px;
	margin: 0 auto;
}

.subhead {
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: black;
}

.first {
	float: left;
	width: 33%;
	text-align: left;
	border-right-style: solid;
	border-right-style: solid;
	border-right-width: 2px
}

.second {
	float: left;
	width: 33%;
	text-align: center;
	border-right-style: solid;
	border-right-width: 2px
}

.third {
	float: left;
	width: 33%;
	text-align: right;
}

.content {
	margin: 10px;
	text-align: center;
}

IMG.pictures {
	width: 200px;
	height: 200px;
}

.gallery {
	float: left;
	width: 200px;
	height: 200px;
	margin: 25px;
}

